<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Footer</title>
</head>
<body>
<div th:fragment="footer">
    <footer>
        <div class="container wrap">
            <div class="row">
                <div class="column">
                    <div class="footer-widget about-widget">
                        <h2 class="widget-title">About</h2>
                        <p>Eat now order system</p>
                        <div class="cards">
                            <i class="fa-brands fa-cc-mastercard"></i>
                            <i class="fa-brands fa-cc-paypal"></i>
<!--                            <i class="fa-brands fa-cc-amex"></i>-->
                            <i class="fa-brands fa-cc-visa"></i>
                            <i class="fa-brands fa-cc-discover"></i>
                        </div>
                        <p><span> <i class="fa-solid fa-lock"></i></span> Secure online payment</p>
                    </div>
                </div>

                <div class="column">
                    <div class="footer-widget categories-widget">
                        <h2 class="widget-title">Categories</h2>
                        <ul>
                            <li><a href="#">Pizza</a></li>
                            <li><a href="#">Spaghetti</a></li>
                            <li><a href="#">Hamburger</a></li>
                            <li><a href="#">Ramen</a></li>
                        </ul>
                    </div>
                </div>

                <div class="column">
                    <div class="footer-widget information-widget">
                        <h2 class="widget-title">Information</h2>
                        <ul>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Shipping&Delivery</a></li>
                            <li><a href="#">Private Policy</a></li>
                        </ul>
                    </div>
                </div>

                <div class="column">
                    <div class="footer-widget contact-widget">
                        <h2 class="widget-title">Contact</h2>

                        <div class="contact-address">
                            <i class="fa-solid fa-location-dot"></i> Address: John Abbott, Montreal, Canada.
                        </div>

                        <div class="contact-number">
                            <i class="fa-solid fa-square-phone"></i> Phone: +1 123456789
                        </div>

                        <div class="contact-email">
                            <i class="fa-solid fa-envelope"></i> Email: eatnow@gmail.com
                        </div>

                        <div class="social-widget">
                            <a href="#"><i class="fa-brands fa-facebook"></i></a>
                            <a href="#"><i class="fa-brands fa-instagram"></i></a>
                            <a href="#"><i class="fa-brands fa-twitter"></i></a>
                            <a href="#"><i class="fa-brands fa-youtube"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <div class="copyright">
                <div class="container">
                    <p>Copyright @ 2022 All rights reserved | Design made with <i class="fa-solid fa-heart"></i> by WuzheQin zhaolongWang ZhenFang NanZhang TingtingXu</p>
                </div>
            </div>

    </footer>
</div>
</body>
</html>