<html xmlns:th="http://www.thymeleaf.org">
<head>
<!--    <div th:fragment="header-css">-->
        <!-- this is header-css -->
<!--        <link rel="stylesheet" th:href="@{/css/footer.css}" href="../../css/main.css" />-->

<!--        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">-->
<!--        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">-->
<!--        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">-->

        </head>
<!--        <link href="/css/footer.css" rel="stylesheet">-->
    </div>
</head>
<body>
<div th:fragment="header">

        <header>
            <img class="logo" src="../../images/logoSm.png" alt="logo">
            <nav>
                <ul class="nav_links">
                    <li><a th:href="@{/index}"><h3>Home</h3></a></li>
                    <li><a th:href="@{/userIndex}"><h3>Menu</h3></a></li>
                    <li><a th:href="@{/cart}"><h3>Cart</h3></a></li>
                    <li><a th:href="@{/register}"><h3>Register</h3></a></li>
                </ul>
            </nav>
            <div th:if="${#authorization.expression('!isAuthenticated()')}">
                <a href="/login" th:href="@{/login}">
                    <button class="glyphicon glyphicon-log-in" aria-hidden="true" >Log in</button>&nbsp;
                </a>
            </div>
            <div th:if="${#authorization.expression('isAuthenticated()')}">
                <a href="/logout" th:href="@{#}" onclick="$('#form').submit();">
                    <button class="glyphicon glyphicon-log-out" aria-hidden="true" >Logout</button>&nbsp;<b>hello [[${#request.userPrincipal.principal.fullName}]]</b>
                </a>
                <form style="visibility: hidden" id="form" method="post" action="#" th:action="@{/logout}"></form>
            </div>
        </header>

</div>

</body>
</html>