<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>City</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">

    <link rel="stylesheet" th:href="@{/css/footer.css}" href="../../css/footer.css" /> <!--footer link for css-->
    <link rel="stylesheet" th:href="@{/css/header.css}" href="../../css/header.css" /> <!--header link for css-->
    <script src="https://kit.fontawesome.com/3f829efc5a.js" crossorigin="anonymous"></script> <!--icons in footer-->
    <th:block th:replace="fragments/styles :: common"></th:block>
    <th:block th:replace="fragments/styles :: datatable"></th:block>

</head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div th:replace="fragments/headeradmin :: headeradmin"/>

        <th:block th:replace="fragments/sidemenu :: menu"></th:block>
<!--    <div class="btn-group">-->
<!--        <a th:href="@{/}" class="btn btn-primary">Home</a>-->
<!--        <a th:href="@{/admin}" class="btn btn-primary " >Category</a>-->
<!--        <a th:href="@{/itemList}" class="btn btn-primary">Item</a>-->
<!--        <a th:href="@{/city}" class="btn btn-primary active" aria-current="page">City</a>-->
<!--    </div>-->
        <div class="right_col" role="main">
            <div class="col-md-9 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>City List</h2>
                        <a th:href="@{/addNewCity}" class="btn btn-info btn-sm mb-3">Add New City</a>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
    <table style="width:80%" class="table table-primary table-responsive-md">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>ShippingFee</th>
            <th>ShippingTime</th>
            <th>Action</th>
        </tr>
        </thead>
        <tr th:each="city:${allCity}">
            <td th:text="${city.id}"></td>
            <td th:text="${city.cityName}"></td>
            <td th:text="${city.shippingFee}"></td>
            <td th:text="${city.shippingTime}"></td>
            <td>
                <a th:href="@{/showFormForUpdateCity/{id}(id=${city.id})}" class="btn btn-primary">Update</a>
                <a th:href="@{/deleteCity/{id}(id=${city.id})}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
    </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br>
<!--<div th:replace="fragments/footer :: footer"/>-->
<th:block th:replace="fragments/scripts :: common"></th:block>
<th:block th:replace="fragments/scripts :: datatable"></th:block>
<script th:src="@{/js/category/list.js}"></script>
</body>
</html>